<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <!--    <link rel="shortcut icon" href="./images/favicon.ico">-->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- style -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script>
      function openClose() {
        // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
        if ($("#post-box").css("display") == "block") {
          // post-box를 가리고
          $("#post-box").hide();
        } else {
          // 아니면(눈에 보이지 않으면) post-box를 펴라
          $("#post-box").show();
        }
      }
    </script>
  </head>
  <body>
    <!-- header -->
    <div id="header">
      <div class="container">
        <div class="header">
          <div class="insta_log">
            <a href="#">
              <img src="{{ url_for('static', filename='logo.png') }}" />
            </a>
          </div>

          <div class="header_nav">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a onclick="openClose()"
              ><i class="fa fa-paper-plane" aria-hidden="true"></i
            ></a>
            <a href="#"><i class="fa fa-compass" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <a href="#" class="mini"
              ><img src="{{ url_for('static', filename='profile.jpg') }}" alt="mini_profile"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- line -->
    <div id="line">
      <div class="container">
        <div class="line_btn">
          <button type="button" class="active">
            <i class="fa fa-th" aria-hidden="true"></i><span>음식</span>
          </button>
          <button type="button" class="igtv_btn">
            <i class="fa fa-desktop" aria-hidden="true"></i><span>고양이</span>
          </button>
          <button type="button" class="saveed_btn">
            <i class="fa fa-bookmark" aria-hidden="true"></i><span>풍경</span>
          </button>
          <button type="button" class="taged_btn">
            <i class="fa fa-user" aria-hidden="true"></i><span>도서</span>
          </button>
        </div>
      </div>
    </div>
    <!-- //line -->

    <section id="profile">
      <div class="container">
        <div class="profile">
          <div id="post-box" class="form-post" style="display: none">
            <table border="1">
              <tr>
                <td>사진 업로드</td>
                <td><input type="text" name="title" id="title" required /></td>
              </tr>
              <tr>
                <td>내용</td>
                <td>
                  <textarea
                    name="content"
                    id="content"
                    cols="30"
                    rows="5"
                    required
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="submit">글쓰기</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- photo -->
    <section id="photo">
      <div class="container">
        <div class="photo">

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='1.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='2.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='3.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='4.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='5.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='6.jpg') }}" alt="1" />
               </a>
             </div>
          </button>

          <button type="button" class="btn btn-Success" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="photo_img">
               <a href="#">
                 <img src="{{ url_for('static', filename='7.jpg') }}" alt="1" />
               </a>
             </div>
          </button>


        </div>
      </div>
    </section>
    <!-- //photo -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
      integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
      crossorigin="anonymous"
    ></script>
  </body>
</html>