<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
<!--    <link rel="shortcut icon" href="./images/favicon.ico">-->
    <!-- style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="header">
                <div class="insta_log">
                    <a href="#">
                    <img src="{{ url_for('static', filename='logo.png') }}" />
                    </a>
                </div>

            <div class="header_nav">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
               <a onclick="openClose()"
              ><i class="fa fa-paper-plane" aria-hidden="true"></i
            ></a>
                <a href="#"><i class="fa fa-compass" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                <a href="#" class="mini"><img src="{{ url_for('static', filename='profile.jpg') }}" alt="mini_profile"></a>
            </div>
            </div>
        </div>
    </div>
    <!-- line -->
    <div id="line">
        <div class="container">
            <div class="line_btn">
                <button type="button" class="active"><i class="fa fa-th" aria-hidden="true"></i><span>음식</span></button>
                <button type="button" class="igtv_btn"><i class="fa fa-desktop" aria-hidden="true"></i><span>고양이</span></button>
                <button type="button" class="saveed_btn"><i class="fa fa-bookmark" aria-hidden="true"></i><span>풍경</span></button>
                <button type="button" class="taged_btn"><i class="fa fa-user" aria-hidden="true"></i><span>도서</span></button>
            </div>
        </div>
    </div>
    <!-- //line -->
    <!--posting-->
    <div class="container">

                <div class="polaroid">
                  <img src ="{{ url_for('static', filename='8.jpg') }}" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>피자랑 파스타 열라 맛있다</p>
                  </div>
                </div>
        </div>

</body>
</html>